fastapi
uvicorn
python-multipart
pydantic
python-dotenv
sqlalchemy
python-docx
pdfminer.six==20221105
nltk
scikit-learn
openpyxl
requests
spacy
pypdf==4.2.0
selenium
numpy
webdriver-manager
chromedriver-autoinstaller
google-generativeai
pdf2image
pytesseract
pdfplumber
reportlab
openrouter
docx2pdf
docx2txt
python-pptx
pypdf2
